body {
  margin: 0;
  padding: 0;
}
#header {
  width: 110%;
  height: 25px;
  background-color: #333;
}

#content {
  position: absolute;
  width: 100%;
  height: calc(100% - 25px);
  background-color: #e5b46a;
  color: #12184e;
}
#new-file {
  margin: 20px 10px;
}

.server {
  margin: 10px 0px 10px 60px;
  font-family: Open Sans;
  width: 100%;
  float: left;
  clear: left;
}

.server .port, .port:hover, .port:visited {
  float: left;
  font-size: 42px;
  margin-left: 20px;
  color: #12184e;
}
.server .path {
  float: left;
  clear: left;
  font-size: 12px;
  margin-left: 25px;
  margin-top: -5px;
}

.close {
  float: left;
  font-size: 35px;
  margin-left: -30px;
  margin-top: 5px;
  color: #a00d23;
  text-decoration: none;
}