body {
  margin: 0;
  padding: 0;
}
#header {
  width: 110%;
  height: 25px;
  background-color: #333;
}

#content {
  position: absolute;
  width: 100%;
  height: calc(100% - 25px);
  background-color: #e5b46a;
  color: #12184e;
}
#new-file {
  margin: 20px 10px;
}